#textarea{
	width: 30%;
	height: 100px;
	border: 3px solid black;
	vertical-align: top;
}
.secret_button{
	background-color: #0095FF;
	border: 2px solid black;
	border-radius: 5px;
	color:white;
	width: 60px;
	height: 30px;
	font-size: 18px;
	display: inline-block;
}
input#link_button{
	color: #0095FF;
	background: none;
	text-decoration: underline;
	display: inline-block;
	border: none;
	width: 200px;
	height: 30px;
	font-size: 18px;
}
.link_button{
	color: #0095FF;
	background: none;
	text-decoration: underline;
	display: inline-block;
	border: none;
	width: 60px;
	height: 30px;
	font-size: 15px;
}
p{
	display: inline-block;
}
p#bold_p{
	font-weight: bold;
}
.like_del{
	display: inline-block;
	width: 200px;
}