<!DOCTYPE html>
<html>
<head>
	<title>Popular Secrets</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'secret/style.css' %}" />
</head>
<body>
<h1>Most Popular Secrets...</h1>
	<form  action="{%url 'secret_app:index' %}" method="POST">
		{% csrf_token %}
		<input class="secret_button" type="submit" name="index" value="BACK">
	</form>
	{%for comment in counter%}	
	{% load humanize %}	
		<p>  {{comment.comment}}
	{% if comment.user_id.id == request.session.user_info%} 
	  <p id="bold_p">:  You posted this</p>
	{%endif%} 
		  ({{comment.created_at|naturaltime}}) 
	{%for i in counter%}
	  {%if forloop.counter == forloop.parentloop.counter%}
	  	{{i.var}} likes
	  {%endif%}
	{%endfor%}  
	{%if comment.user_id.id == request.session.user_info %}</p>
			<form class="like_del" action="{%url 'secret_app:delete' comment.id %}" method="GET">
				{% csrf_token %}
				<input class="link_button" type="submit" name="submit" value="Delete">
			</form>
			<br>
	{%endif%}
	{%if comment.user_id.id != request.session.user_info %}	
			<form  class="like_del"  action="{%url 'secret_app:like' comment.id %}" method="GET">
			{% csrf_token %}
			<input class="link_button" type="submit" name="like" value="Like">
		</form>
		<br>		
	{%endif%}					
	{%endfor%}	
</body>
</html>