<!DOCTYPE html>
<html>
<head>
   	<title>Your secrets page</title>
   	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'secret/style.css' %}" />
</head>
<body>
	{%for i in info%}
      <h1> Hello, {{i.first_name}}!</h1>     
    <form action="{%url 'secret_app:process'  %}" method="POST">
		{% csrf_token %}
    <textarea id="textarea"  type="text" name="description" placeholder="Share your secret here..."></textarea><br>
		<input class="secret_button" type="submit" name="submit" value="Post">
	</form>
	<form  action="{%url 'secret_app:popular'  %}" method="GET">
		{% csrf_token %}
		<input id="link_button" type="submit" name="submit" value="Most Popular Secrets">
	</form>
	{%endfor%}
	
	<h1>Recent Secrets...</h1>
	{%for comment in all_comments%}	
	{% load humanize %}			
		<p>{{comment.comment}}   
				{% if comment.user_id.id == request.session.user_info%} 
				  <p id="bold_p">:  You posted this</p>
				{%endif%} 
		({{comment.created_at|naturaltime}}) 
				{%for i in counter%}
				  {%if forloop.counter == forloop.parentloop.counter%}
				  	{{i.var}} likes
				  {%endif%}
				{%endfor%}  
		{%if comment.user_id.id == request.session.user_info %}</p>

				<form class="like_del" action="{%url 'secret_app:delete' comment.id %}" method="POST">
					{% csrf_token %}
					<input class="link_button" type="submit" name="submit" value="Delete">
				</form>
				<br>
		{%endif%}
		{%if comment.user_id.id != request.session.user_info %}	
				<form  class="like_del"  action="{%url 'secret_app:like' comment.id %}" method="POST">
				{% csrf_token %}
				<input class="link_button" type="submit" name="like" value="Like">
			</form>
			<br>
		{%endif%}				
	{%endfor%}
		
</body>
</html>